body{
    font-family: "Montserrat";
    font-weight: 500;
}

h1 {  
    font-family: 'Montserrat', sans-serif;  line-height: 1.5; 
    font-size: 3rem;
    font-weight: 600;
    margin: 2rem 0;
}

p{
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

.shop-link{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.shop-link:hover{
    text-decoration: none;
    color:white;
}
#title{
    background-color: rgb(142, 133, 132);
}

.logo{
    padding-left: 1.5rem;
}

span{
    padding-left: 0.25rem;
}

.nav-item{
    padding: 0 1rem;
}

.container-fluid{
    padding:3% 15% 0 15%;
}

.feature-heading{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

#features{
    padding: 1.5% 10% 0 10%;
    text-align: center;
    
}

h3{
    font-weight: 300;
}

.feature{
    height: 50px;
    padding-bottom: 1rem;
}

.icon{
    margin-bottom: 3rem;
}

#app{
    background-color: rgb(142, 133, 132);
    padding: 1.5% 10% 1.5% 10%;
    text-align: center;
}

.app-heading{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding: 0.5rem 0 1.5rem 0;
}
.app-subheading{
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    padding: 0;
}
.btn{
    margin:0 1rem;
    margin-bottom: 0.5rem;
}
#footer{
    background-color: #343a40;
    padding: 1.5% 10% 0.5% 10%;
    text-align: center;
}

.connect{
    color:rgb(142, 133, 132);
    margin:0 1rem;
}
.connect:hover{
    color: #01172e;
}

.copy{
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 1rem;
}
